

#one {
    height: 250px;
    width: 150px;
    background-image: url(photos/bruno.jpg);
    right: 550px;
    top: -250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}#two {
    height: 250px;
    width: 150px;
    background-image: url(photos/messi.jpg);
    right: 475px;
    top: -250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}#three {
    height: 250px;
    width: 150px;
    background-image: url(photos/de\ bruyne.jpg);
    right: 400px;
    top: -250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}#four {
    height: 250px;
    width: 150px;
    background-image: url(photos/van\ dijk.jpg);
    right: 325;
    top: -250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}#five {
    height: 250px;
    width: 150px;
    background-image: url(photos/leao.jpg);
    right: 250px;
    top: -250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}#six {
    height: 250px;
    width: 150px;
    background-image: url(photos/bellingham.jpg);
    right: 175px;
    top: -250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}#seven {
    height: 250px;
    width: 150px;
    background-image: url(photos/mbappe.jpg);
    right: 100px;
    top: -250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}#eight {
    height: 250px;
    width: 150px;
    background-image: url(photos/neymar.jpg);
    right: 25px;
    top: -250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}#nine {
    height: 250px;
    width: 150px;
    background-image: url(photos/pulisic.jpg);
    right: -50px;
    top: -250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}#ten {
    height: 250px;
    width: 150px;
    background-image: url(photos/haaland.jpg);
    right: -125px;
    top: -250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}#tenone {
    height: 250px;
    width: 150px;
    background-image: url(photos/pepe.jpg);
    right: -200px;
    top: -250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}#tentwo {
    height: 250px;
    width: 150px;
    background-image: url(photos/ramos.jpg);
    right: -275px;
    top: -250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}#tenthree {
    height: 250px;
    width: 150px;
    background-image: url(photos/salah.jpg);
    right: -350px;
    top: -250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}#tenfour {
    height: 250px;
    width: 150px;
    background-image: url(photos/dembele.jpg);
    right: -425px;
    top: -250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}#tenfive {
    height: 250px;
    width: 150px;
    background-image: url(photos/marcelo.jpg);
    right: 550px;
    top: -250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}#tensix {
    height: 250px;
    width: 150px;
    background-image: url(photos/martinez.jpg);
    right: 550px;
    top: -250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}#tenseven {
    height: 250px;
    width: 150px;
    background-image: url(photos/ronaldo.jpg);
    right: 550px;
    top: -250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}#teneight {
    height: 250px;
    width: 150px;
    background-image: url(photos/donaroma.jpg);
    right: 550px;
    top: -250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}#tennine {
    height: 250px;
    width: 150px;
    background-image: url(photos/walker.jpg);
    right: 550px;
    top: -250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}#tenten {
    height: 250px;
    width: 150px;
    background-image: url(photos/vini.jpg);
    right: 550px;
    top: -250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}#twoone {
    height: 250px;
    width: 150px;
    background-image: url(photos/Courtois.jpg);
    right: 550px;
    top: -250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}#twotwo {
    height: 250px;
    width: 150px;
    background-image: url(photos/yamal.jpg);
    right: 550px;
    top: -250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}#twothree {
    height: 250px;
    width: 150px;
    background-image: url(photos/McKennie.jpg);
    right: 550px;
    top: -250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}#twofour {
    height: 250px;
    width: 150px;
    background-image: url(photos/alison.jpg);
    right: 550px;
    top: -250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}#twofive{
    height: 250px;
    width: 150px;
    background-image: url(photos/trent.jpg);
    right: 550px;
    top: -250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}#twosix {
    height: 250px;
    width: 150px;
    background-image: url(photos/dest.jpg);
    right: 550px;
    top: -250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}#twoseven {
    height: 250px;
    width: 150px;
    background-image: url(photos/lewa.jpg);
    right: 550px;
    top: -250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}